# This is Git's per-user configuration file.
[user]
	email = neilgoldader@gmail.com
	name = Neil Goldader
# Please adapt and uncomment the following lines:
#	name = Neil Goldader
#	email = neil.goldader@lacuna.ai
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
